* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #111;
  background: black;
}
main {
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

#status {
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#form {
  display:none;
  margin: 70px auto;
  background: #2b6c57;
  width: 347px;
  text-align: center;
  padding: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
#form > h1 {
  color: #f4f4f4;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
  font-weight: 400;
  margin-bottom: 20px;
}
input {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  display: block;
  width: 269px;
  padding: 15px;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  outline: none;
}
input:focus {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
::-webkit-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
:-moz-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
::-moz-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
:-ms-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
button {
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 17px;
  width: 270px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1.2em;
  background: #1e4d3d;
  color: #f4f4f4;
  box-shadow: 0px 3px 0px #112f25;
  cursor: pointer;
}
button:active {
  top: 3px;
  box-shadow: none;
}
#loader {
  display: none;
  margin: 40px auto 0px auto;
  width: 1px;
  border: 16px solid #2b6c57;
  border-radius: 50%;
  border-top: 16px solid white;
  border-bottom: 16px solid white;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
