<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
  {% endfor %}

  <title>{{ site.shorttitle }}</title>

  {% if page.description %}
    <meta name="Description" content="{{ site.description }}">
  {% endif %}

  {% if page.lang == 'nl' %}

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.davidverweij.com/phone-grown/nl">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title_nl }}">
  <meta property="og:description" content="{{ site.description_nl }}">
  <meta property="og:image" content="https://www.davidverweij.com/phone-grown/assets/images/sunshine.jpg">

  <!-- Twitter Meta Tags -->
  <meta property="twitter:url" content="https://www.davidverweij.com/phone-grown/nl">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title_nl }}">
  <meta name="twitter:description" content="{{ site.description_nl }}">
  <meta name="twitter:image" content="https://www.davidverweij.com/phone-grown/assets/images/sunshine.jpg">

  {% else %}
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.davidverweij.com/phone-grown/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="https://www.davidverweij.com/phone-grown/assets/images/sunshine.jpg">

  <!-- Twitter Meta Tags -->
  <meta property="twitter:url" content="https://www.davidverweij.com/phone-grown/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="https://www.davidverweij.com/phone-grown/assets/images/sunshine.jpg">

  {% endif %}


  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | absolute_url }}">
  <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | absolute_url }}"></script>

  <script type="text/javascript" src="{{ '/assets/js/lightbox.js' | absolute_url }}"></script>
  <link rel="stylesheet" href="{{ '/assets/css/lightbox.css' | absolute_url }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
