<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">



  <title>{{ site.shorttitle }}</title>

  {% if page.description %}
    <meta name="Description" content="{{ site.description }}">
  {% endif %}
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.phonegrown.site/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="https://www.phonegrown.site/assets/images/sunshine.jpg">

  <!-- Twitter Meta Tags -->
  <meta property="twitter:url" content="https://www.phonegrown.site/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="https://www.phonegrown.site/assets/images/sunshine.jpg">


  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | absolute_url }}">

  <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
