* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
}
html, body {
  overflow: hidden;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;
  background: black;
  position:relative;
}

.flipped {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

main {
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
a {
  color:inherit;
}

.menu .close{
  position: relative;
  padding: 0.6rem;
  margin: 0;
  margin-right: 0px;
  text-align: right;
  top: -2.7rem;
  left: -3rem;
  background: white;
  width: 2rem;
  height: 2.1rem;
  float: left;
  margin-right: auto;
  color: black;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid black;
}

#status {
  background: #10ac7d;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  z-index:3;


  -webkit-animation: flickerAnimation 15s infinite;
  -moz-animation: flickerAnimation 15s infinite;
  -o-animation: flickerAnimation 15s infinite;
  animation: flickerAnimation 15s infinite;
}


#ambientdisplay{
  width:100vw;
  height:100vh;
  position:absolute;
  z-index:1;
}
#ambientdisplay div {
  width:100%;
  height: 100%;
  background-color: black;
}

.sleepmode {
  margin: 1rem 3rem;
  font-size: 1.2rem;
  color: gray;
}

.menu {
  display: none;
  background: #227efa;
  border: 3px solid black;
  max-width: 100vw;
  width: 15rem;
  flex-direction: column;
  align-items: center;

  z-index:2;
  position:relative;

  color: white;
  text-align: center;

  padding: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

button {
  color: white;
  position: relative;
  display: block;
  border-radius: 6px;
  font-size: 1.2em;
  background: #227efa;
  box-shadow: 2px 4px 0px #0454BE;
  border: 3px solid black;
  cursor: pointer;
  margin:.3rem;
}
button:active {
  top: 3px;
  box-shadow: none;
}

.purple {
  background: #7253ed;
}
.purple button {
  background: #7253ed;
  box-shadow: 2px 4px 0px #5834EA;
}

#menu_error {
  background: #fbbc04;
  color: black;
}

#menu_orientation {
 background: #fbbc04;
 color: black;
}

.menu > * {
  padding:.8rem;
  width:100%;
}

.menu .details > * {
  padding-top:0.5rem;
}

#hint {
  display:block;
  background:none;
  opacity: 0;
  transition: visibility 0s, opacity 1.5s linear;
  position: absolute;
  bottom: 0;
  width:100vw;
  max-width: 100vw;
  border:none;
  font-size: 1.2rem;
  z-index:-1;
  pointer-events: none;
}

input {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  display: block;
  width: 222px;
  padding: 15px;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  outline: none;
}



#loader {
  display: none;
  margin: 1rem auto;
width: 1px;
border: 8px solid #227efa;
border-radius: 50%;
border-top: 8px solid white;
border-bottom: 8px solid white;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes flickerAnimation {
  0%   { opacity:.8; }
  50%  { opacity:.2; }
  100% { opacity:.8; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:.8; }
  50%  { opacity:.2; }
  100% { opacity:.8; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:.8; }
  50%  { opacity:.2; }
  100% { opacity:.8; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:.8; }
  50%  { opacity:.2; }
  100% { opacity:.8; }
}
